.header {
  grid-area: header;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  padding: 10px;

  background-color: rgb(196, 194, 194);

.logo {
  height: 80%;
  width: 10%;
  background-image: url("../../../public/img/headerImg/logo.svg");
  background-repeat:no-repeat;
}
}
