@font-face {
  font-family: "Arkhip";
  src: url("../../fonts/arkhip.eot");
  src: url("../../fonts/arkhip.ttf") format("truetype"),
  url("../../fonts/arkhip.woff") format("woff"),
  url("../../fonts/arkhip.woff2") format("woff2");
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.eot");
  src: url("../../fonts/Montserrat-Regular.ttf") format("truetype"),
  url("../../fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal; 
  font-weight: normal; 
}

// $mainColorText:rgb(144, 144, 144);
// $redColor: rgb(117, 0, 0);
// $darkColor: black;
// $colorH1: red;
$fontArticleText: "Montserrat";
$fontHeader:"Arkhip";

