@use "../service/font.scss";
@use "../service/mixin.scss";

.windowOne {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .slides {
    width: 90vw;
    height: 75%;
  
    display: flex;
    flex-direction: row;
    gap: 1%;
  }

  .slide {
    flex: 1;
    height: 100%;
    border-radius: 10px;
    z-index: 20;
    background-color: grey;
    transition: flex 1s ease-in;

    &:hover {
      flex: 14;
    }
  }
}






