 .selectPage {
   padding: 10px 15px;

   & span {
     margin-right: 10px;
     cursor: pointer;
   }

   & span.active {
     font-weight: bold;
     border: 1px solid red;
     border-radius: 50%;
     padding: 5px;
   }
 }