.container {
  display: grid;
  grid-template-areas: "dialogs dialog";
  grid-template-columns: 30% 70%;
  height: 100%;
  gap: 20px;
}

.dialogs {
  grid-area: dialogs;
  border: 1px solid red;
  display: flex;
  flex-direction: column;

  & a:not(:first-child) {
    margin-bottom: 15px;
  }

}

.dialog {
  border: 1px solid red;
  grid-area: dialog;
}